<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12 justify-content-center my-5 alert alert-danger" role="alert" th:if="${hasError}">
            <p th:text="${error}"></p>
        </div>
    </div>
    <div class="row">
        <div class="col-10 justify-content-center my-5">
            <form action="/" method="get">
                <input type="text" name="search" th:value="${search}" placeholder="Search" size="50">
                <button type="submit" class="btn btn-info">Search</button>
            </form>
        </div>
        <div class="col-1 my-5">
            <a class="btn btn-info text-white" href="/user/profile">Profile</a>
        </div>
        <div class="col-1 my-5">
            <a class="btn btn-info text-white" href="/logout">Logout</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 justify-content-center mb-3">
            <a class="btn btn-info" href="/read-books">Read books</a>
            <a class="btn btn-info" href="/to-read-books">To-read</a>
            <a class="btn btn-info" href="/currently-reading-books">Currently reading</a>
            <a class="btn btn-info" href="/quotes">Quotes</a>
            <a class="btn btn-info" href="/borrowed-books">Borrowed books</a>
        </div>
    </div>
    <div class="mb-3" sec:authorize="hasRole('ROLE_ADMIN')">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <a href="/books/add" class="btn btn-block btn-dark">
                    Add new book
                </a>
            </div>
        </div>
    </div>
    <div class="row" th:if="${books.size() > 0}">
        <div th:each="book : ${books}" class="card col-4 m-2 pt-3" style="max-width: 16rem; max-height: 30rem;">
            <a th:href="@{'/books/details/{id}' (id=${book.getId()})}">
                <img class="card-img-top" style="width: 14rem; max-height: 25rem;"
                     th:src="@{'/uploads/'+${book.getFile()}}" alt="Card image cap">
            </a>
            <div class="card-body">
                <a th:href="@{'/books/details/{id}' (id=${book.getId()})}" class="text-reset text-decoration-none">
                    <h5 class="card-title" th:text="${book.getTitle()}+' - '+${book.getAuthor()}"></h5>
                </a>
                <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                    <a th:href="@{'/books/remove/{id}' (id=${book.getId()})}" class="btn btn-sm btn-danger">
                        <i class="fa fa-trash">Delete</i>
                    </a>
                </th:block>
                <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                    <a th:href="@{'/books/edit/{id}' (id=${book.getId()})}" class="btn btn-sm btn-info">
                        <i class="fa fa-trash">Edit</i>
                    </a>
                </th:block>
            </div>
        </div>
    </div>
</div>
<div class="row">
</div>
</body>
</html>